<footer class="footer">
  <div class="footer__wrapper">
    <p class="footer__meta">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> &middot; <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </p>
  </div>
</footer>
