<header class="header">
  <div class="header__wrapper">
    <h1 class="header__title">
      <a href="<%- url_for() %>" class="header__title-link">
        <%= config.title %>

        <% if (theme.subtitle){ %>
          <small class="header__sub-title">
            <%= theme.subtitle %>
          </small>
        <% } %>
      </a>
    </h1>
  </div>
</header>

<%- partial('_partial/main-nav') %>

<% // add a space for the header to remain fixed %>
<span class="header__space"></span>
