// color
$stone: HSLA(208, 51%, 15%, 1.00);
$black-pearl: HSLA(207, 56%, 7%, 1.00);
$blue: HSLA(187, 100%, 36%, 1.00);
$apple: HSLA(120, 40%, 83%, 1.00);
$aqua: HSLA(168, 100%, 77%, 1.00);
$aqua-dark: HSLA(168, 100%, 70%, 1.00);
$aqua-compliment: HSLA(348, 100%, 77%, 1.00);
$aqua-compliment-dark: HSLA(348, 100%, 68%, 1.00);
$silver: HSLA(0, 0%, 80%, 1.00);
$pale: HSLA(0, 0%, 90%, 1.00);
$pale-dark: HSLA(0, 0%, 80%, 1.00);
$haze: HSLA(0, 0%, 92%, 1.00);

// layout
$z: (base: 0, first: 10, second: 20, third: 30, top: 100);

// typography
$header-font: 'proxima-nova-extra-condensed', 'Open Sans', sans-serif;
$body-font: 'Gentium Book Basic', serif;

$baseline: 1.4rem;
$line-height: $baseline / 1rem;

$minScreen: 20rem;
$maxScreen: 64rem;
$minFont: 1rem;
$maxFont: 1.5rem;

// $h1: 4.768rem;
$h1: 3.815rem;
$h2: 3.052rem;
$h3: 2.441rem;
$h4: 1.953rem;
$h5: 1.563rem;
$h6: 1rem;
