<% if (site.tags.length){ %>
  <article class="widget">
    <h3 class="widget__title"><%= __('tagcloud') %></h3>
    <div class="widget__inner tagcloud">
      <%- tagcloud() %>
    </div>
  </article>
<% } %>