<footer class="wrapper wrapper--footer site-footer">
  <div class="wrapper__inner site-footer__inner">
    <div class="site-footer__info">
      <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
      <p><%= __('powered_by') %> <a href="http://hexo.io/" target="_blank" class="site-footer__powered">Hexo</a></p>
    </div>
  </div>
</footer>