.site-header {
  padding: vr(1) 0;

  @include breakpoint($bp-medium) {
    padding: vr(2) 0;
  }

  &__inner {
    @include row;

    display: flex;
    flex-direction: column;

    @include breakpoint($bp-medium) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__title,
  &__sub-title {
    @extend .f-sans-bold;

    margin: 0;
  }

  &__title {
    @include font-size(1);

    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__home-link {
    @include link($haze, none);
  }
}