.article-teaser {
  background-color: $bondi-blue;
  padding: $gutter * 2;
  display: flex;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__content {
    text-align: center;
  }

  &:hover {
    text-decoration: none;
    background-color: $caribbean-green;
  }

  &__title {
    @include font-size(1, true, 1.5);

    line-height: 1.3;
    margin: 0;
  }
}