.about {
	@include padding-equal(1);
	position: relative;
	background-color: HSLA(207, 56%, 7%, 0.95);
	color: $pale;
	z-index: map-get($z, first);

	@include breakpoint(sm) {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__title {
		@extend .main-section-title;
	}

	&__content {
		@extend .inset-container;

		opacity: 0;
		transition: all 0.7s ease-out;
		transform: translate3d(0, 50px, 0);

		@include breakpoint(sm) {
			@include padding(2, 0);
		}
	}

	&.is-active {
		.about__content {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
}
