.article {
	@include padding(1, 0);

	background: linear-gradient(155deg, $apple 55%, $aqua);

	@include breakpoint(md) {
		 @include padding(3, 0);
	}

	&-inner {
		@include padding(0, 1.2);
		@extend .inset-container;

		@include breakpoint(md) {
			padding: 0;
		}
	}

	&-header {
		h1 {
			margin-top: 0;
		}
	}
}
